# Visual Studio 2015 cache/options directory
.vs/
.idea/
build/
_Build/vscode-clang/
_Build/
cmake-build-debug/
_PipelineCache/

# Default emulator logs and diagnostic dumps
_kyty.txt
_Shaders/
_Buffers/
